/*内容列表  */
.list{margin-top: 30px;background: #fff;border:1px solid #d1d1d1;}
.content_title{font-size: 16px;line-height: 30px;border-bottom: 1px solid #009cff;}
.content_title span{padding-left: 20px;border-left: 5px solid #364d79;}
.content_list { height: 200px;} 
/*内容列表  */