<div class="home-page">
  <div class="com-top">
    <div class="com-logo">
      <a [routerLink]="['./../com-logo']">
        <img src="./assets/com-images/14793403843.JPG" alt="公司logo">
      </a>
      <p>上次登录时间：2017-07-11 23:19</p>
    </div>
    <div class="com-title">
      <h3 class="fl">成都天府新区人力资源开发服务有限公司</h3>
      <a class="fl editor" [routerLink]="['./../com-info']"><i class="anticon anticon-edit"></i>编辑</a>
      <a class="fl look-over" [routerLink]="['/user_index/company', 'ttrz1']" target="_blank">预览主页</a>
      <div class="scan clear">
        <p class="fl">被浏览次数：<span class="red">2017</span>次</p>
        <p class="fl">被关注次数: <span class="red">2018</span>次</p>
      </div>
    </div>
    <div class="com-setting">
      <a href="javascript:;">设置单位模板</a>
      <a [routerLink]="['./../com-jobadd']">发布职位</a>
    </div>
  </div>
  <div class="con-content">
    <div class="con-list">
      <div class="list-title">招聘管理</div>
      <div class="list-content">
        <div class="list-con-box fl">
          <h4>未查看简历</h4>
          <p><span class="list-count">207 </span>份</p>
          <div>
            <span>已收到简历：</span>
            <span class="red">2017</span>
            <span>份</span>
            <a [routerLink]="['']">详细</a>
          </div>
        </div>
        <div class="list-con-box fl">
          <h4>已下载简历</h4>
          <p><span class="list-count">207 </span>份</p>
          <div>
            <span>还可下载简历：</span>
            <span class="red">7</span>
            <span>份</span>
            <a [routerLink]="['']">详细</a>
          </div>
        </div>
        <div class="list-con-box fl">
          <h4>招聘中的职位</h4>
          <p><span class="list-count">207 </span>份</p>
          <div>
            <span>还可发布职位数：</span>
            <span class="red">2017</span>
            <span>条</span>
            <a [routerLink]="['']">详细</a>
          </div>
        </div>
      </div>

    </div>
    <div class="con-list">
      <div class="list-title">简历速配</div>
      <div class="list-content">
        <div class="resume-box">
          <ul class="resume-list">
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
            <li>
              <div class="resume-l fl">
                <img src="./assets/com-images/user-resume-info-image.JPG" alt="简历头像">
              </div>
              <div class="resume-r fl">
                <p><a href="javascript:;">姓名</a></p>
                <p>
                  学历：<span class="red">本科</span> 经验：
                  <span class="exp">3年以上</span>
                </p>
                <p>地区： <span class="addr">四川-巴中</span></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>