.w250{width:250px;}
.w150{width:150px;}
.mr20{ margin-right: 20px;}
.search-conditions form>div{ margin-bottom: 10px;}


/* 人才列表 */
.seekers{ }
.seeker-title{ display: block; float:left;}
.seekers ul li{ clear:both;}
.col1{ width: 15%;}
.col2{ width: 30%;}
.col3{ width: 20%;}
.col4{ width: 10%;}
.col5{ width: 15%;}
.col6{ width: 10%;}
