<nz-carousel [nzAutoPlay]="true">
    <div nz-carousel-content class="banner-list">
      <a href="javascript:;">
        <img src="/assets/lib/images/banner1.jpg" alt="轮播图1">
      </a>
    </div>
    <div nz-carousel-content class="banner-list">
      <a href="javascript:;">
        <img src="/assets/lib/images/banner1.jpg" alt="轮播图1">
      </a>
    </div>
    <div nz-carousel-content class="banner-list">
      <a href="javascript:;">
        <img src="/assets/lib/images/banner1.jpg" alt="轮播图1">
      </a>
    </div>
</nz-carousel>