/*幻灯片  */
:host ::ng-deep .ant-carousel .slick-slide {
    text-align: center;
    height: 320px;
    color: #fff;
    overflow: hidden;
}
div.nz-overlay-pane{
    left: 458px!important;
}
/*幻灯片*/
.banner-list {width: 100%;height:100%;}
.banner-list img{ width: 100%;height:100%;}