<nz-layout>
  <nz-header>
    <div class="head-top row">
      <div class="fl"><a [routerLink]="['/user_index']">欢迎来到天府菁英网</a></div>
      <div class="fr user-info">
        <span>您好：用户名</span>
        <a href="javascript:;">[安全退出]</a>
        <a [routerLink]="['/user_index']" style="color: #FC0;">回到网站首页</a>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="row">
      <div nz-row>
        <div nz-col [nzSpan]="24" style="height: 100px;background:#fff;border-bottom:1px solid #f1f1f1;">
          <div class="fl company-admin-logo"><a [routerLink]="['/user_index']">
                    <img src="../../../../assets/lib/images/company-admin-logo.png" alt="">
                </a></div>
        </div>
        <div nz-col [nzSpan]="6">
          <div class="list-title">
            <h3>快捷操作</h3>
          </div>
          <ul nz-menu [nzMode]="'inline'" class="handle-list" style="width: 240px;">
            <li nz-submenu>
              <span title class="subMenu-title">个人中心</span>
              <ul>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./user-home']">个人首页</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./user-info']">个人基本资料</a></li>
                <!-- <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./user-logo']">头像上传</a></li> -->
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./user-pwd']">密码管理</a></li>
              </ul>
            </li>
            <li nz-submenu>
              <span title class="subMenu-title"> 简历管理</span>
              <ul>
                <!-- <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./user-resume']">我的简历</a></li> -->
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./resume']">创建简历</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./complete-resume']">完善简历</a></li>
                <!--<li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">未通过职位</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">过期职位</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">已暂停职位</a></li> -->
              </ul>
            </li>
            <li nz-submenu>
              <span title class="subMenu-title"> 求职管理</span>
              <ul>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./appliedJobs']">已申请的职位</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./jobsearch']">搜索职位</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./zph']">搜索招聘会</a></li>
                <!-- <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">已下载的简历</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">已通知面试</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">被浏览的职位</a></li>
                <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">我浏览的简历</a></li> -->
              </ul>
            </li>
          </ul>
        </div>
        <div nz-col [nzSpan]="18" class="company-view">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;"><app-footer></app-footer></nz-footer>
</nz-layout>