<div class="user-home">
  <div class="user-top">
    <div class="info">
      <div class="user-photo fl">
        <a [routerLink]="['']">
            <img src="./assets/com-images/user-resume-info-image.JPG" alt="">
          </a>
      </div>
      <div class="user-info fl">
        <div class="info-title">您好！wangwei</div>
        <div class="info-card">
          <div class="fl">
            <span><i class="anticon anticon-mobile"></i>13333333333</span>
            <span class="red">未验证</span>
            <!-- <span class="green">已验证</span> -->
          </div>
          <div class="fl">
            <span><i class="anticon anticon-mail"></i>dslsdf@qq.com</span>
            <span class="red">未绑定</span>
            <!-- <span class="green">已绑定</span> -->
          </div>
          <div class="fl">
            <span><i class="anticon anticon-idcard"></i>510003021200547895</span>
            <span class="red">未绑定</span>
            <!-- <span class="green">已绑定</span> -->
          </div>
          <div class="clear"></div>
        </div>
        <div class="info-change">
          <div class="info-editor fl">
            <a [routerLink]="['']">
              <i class="anticon anticon-edit"></i> 编辑基本信息
            </a>
          </div>
          <div class="info-photo fl">
            <a [routerLink]="['']">更换形象照片</a>
          </div>
          <div class="info-photo fl">
            <a [routerLink]="['']">我的个人主页</a>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="home-list">
    <div class="info-list">
      <div class="list-title">求职信息</div>
      <ul class="jobInfo-intro">
          <li>
            <p class="jobs-count">8</p>
            <p class="jobs-des"><a href="javascript:;">面试通知</a></p>
          </li>
          <li>
            <p class="jobs-count">2</p>
            <p class="jobs-des"><a href="javascript:;">谁看了我的简历</a></p>
          </li>
          <li>
            <p class="jobs-count">8</p>
            <p class="jobs-des"><a href="javascript:;">职位申请记录</a></p>
          </li>
          <li>
            <p class="jobs-count">3</p>
            <p class="jobs-des"><a href="javascript:;">职位收藏记录</a></p>
          </li>
      </ul>
    </div>
    <div class="info-list">
        <div class="list-title">简历信息</div>
        <div class="resume-info">
          <p class="fl resume-name">我的简历名称:<a [routerLink]="['']">name</a></p>
          <p class="fl resume-count">简历被查看次数: <span class="scan-count">27</span>次</p>
          <p class="clear"></p>
          <p class="resume-perfect">简历完善程度：
            <span class="green">完整</span>
            <!-- <span class="red">不完整</span> -->
          </p>
          <div class="resume-oper">
            <a [routerLink]="['']">修改简历</a>
            <a [routerLink]="['']">预览简历</a>
          </div>
        </div>
    </div>
    <div class="info-list">
        <div class="list-title">合适的工作</div>
        <div class="right-job">
          <ul class="r-job-list">
              <li>
                <p class="r-job-name"><a class="red" [routerLink]="['/user_index/jobsDetails', 'dsdfs']">成都市公安局天府新区分局</a></p>
                <p class="r-job-salary">3100-4500元/月</p>
                <p class="r-job-company"><a [routerLink]="['/user_index/company', 'ttrz']">成都天府新区人力资源开发服务有限公司</a></p>
              </li>
              <li>
                <p class="r-job-name"><a class="red" [routerLink]="['/user_index/jobsDetails', 'dsdfs']">成都市公安局天府新区分局</a></p>
                <p class="r-job-salary">3100-4500元/月</p>
                <p class="r-job-company"><a [routerLink]="['/user_index/company', 'ttrz']">成都天府新区人力资源开发服务有限公司</a></p>
              </li>
              <li>
                <p class="r-job-name"><a class="red" [routerLink]="['/user_index/jobsDetails', 'dsdfs']">成都市公安局天府新区分局</a></p>
                <p class="r-job-salary">3100-4500元/月</p>
                <p class="r-job-company"><a [routerLink]="['/user_index/company', 'ttrz']">成都天府新区人力资源开发服务有限公司</a></p>
              </li>
              <li>
                <p class="r-job-name"><a class="red" [routerLink]="['/user_index/jobsDetails', 'dsdfs']">成都市公安局天府新区分局</a></p>
                <p class="r-job-salary">3100-4500元/月</p>
                <p class="r-job-company"><a [routerLink]="['/user_index/company', 'ttrz']">成都天府新区人力资源开发服务有限公司</a></p>
              </li>
              <li>
                <p class="r-job-name"><a class="red" [routerLink]="['/user_index/jobsDetails', 'dsdfs']">成都市公安局天府新区分局</a></p>
                <p class="r-job-salary">3100-4500元/月</p>
                <p class="r-job-company"><a [routerLink]="['/user_index/company', 'ttrz']">成都天府新区人力资源开发服务有限公司</a></p>
              </li>
              <li>
                <p class="r-job-name"><a class="red" [routerLink]="['/user_index/jobsDetails', 'dsdfs']">成都市公安局天府新区分局</a></p>
                <p class="r-job-salary">3100-4500元/月</p>
                <p class="r-job-company"><a [routerLink]="['/user_index/company', 'ttrz']">成都天府新区人力资源开发服务有限公司</a></p>
              </li>
              <li>
                <p class="r-job-name"><a class="red" [routerLink]="['/user_index/jobsDetails', 'dsdfs']">成都市公安局天府新区分局</a></p>
                <p class="r-job-salary">3100-4500元/月</p>
                <p class="r-job-company"><a [routerLink]="['/user_index/company', 'ttrz']">成都天府新区人力资源开发服务有限公司</a></p>
              </li>
          </ul>
        </div>
    </div>
  </div>
</div>