<!-- <div class="list" *ngFor="let con of content">
  <div class="content_title"><span>{{con.title}}</span></div>
  <div class="content_list">
    <p>{{con.con}}</p>
  </div>
</div> -->


<div class="home-page">
  <div class="content">
      <div class="con-list">
        <img src="/assets/com-images/home-page-list1.png" alt="">
      </div>
      <div class="con-list">
        <img src="/assets/com-images/home-page-list2.png" alt="">
      </div>
      <div class="con-list">
        <img src="/assets/com-images/home-page-list3.png" alt="">
      </div>
      <div class="con-list">
        <img src="/assets/com-images/home-page-list4.png" alt="">
      </div>
      <div class="con-list">
        <img src="/assets/com-images/home-page-list5.png" alt="">
      </div>
  </div>
</div>