<div class="company-box">
  <div class="company company-product">
    <h4>公司产品</h4>
    <div class="product_intro">
      <div class="product_list">
        <div class="product_img fl">
          <img src="./../../../../assets/lib/images/company-product-des1.png" alt="公司产品描述图片">
        </div>
        <div class="product_des fl">
          <h6>货车帮</h6>
          <div class="product_class">
            <span>移动app</span>
            <span>客户端</span>
          </div>
          <div class="product_des_content">
            <p>针对中长途（省内、省际）货车司机开发的集查找货源、 新车二手车交易、车辆/物流金融、 汽车后市场电子商务等特色功能于一身的移动互联网产品。
            </p>
          </div>
        </div>
      </div>
      <div class="product_list">
        <div class="product_img fl">
          <img src="./../../../../assets/lib/images/company-product-des1.png" alt="公司产品描述图片">
        </div>
        <div class="product_des fl">
          <h6>物流QQ</h6>
          <div class="product_class">
            <span>移动app</span>
            <span>客户端</span>
          </div>
          <div class="product_des_content">
            <p>针对公路物流从业者（零担、第三方、专线等） 开发的全体系运力资源调度平台软件。包含发布货源、查找车源、 身份验证、车辆&货运保险、车辆定位、钱包金融等特色服务。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company company-intorduce">
    <h4>公司介绍</h4>
    <div class="com-intro-content">
      <p>成都派沃特科技有限公司（简称派沃特）是一家基于“平台融合、 业务融合、数据融合、技术融合”超融合理念（Super-Converged） 的大数据应用整体解决方案和服务提供商，运用大数据思维帮助传统行业、 传统政务提升价值和效率的“互联网+”实践者。
        公司致力于通过大数据实践驱动提高客户管理、业务和创新能力，提升客户价值。 公司专注于为客户提供大数据解决方案和服务， 业务涉及云机房建设、智能化运维、指挥调度、数据中心建设、 大数据应用、视频大数据、物联网等方面。并逐步涉足运营和咨询
      </p>
    </div>
    <div class="com-intro-roasting">
      <nz-carousel [nzAutoPlay]="true" [nzEffect]="'fade'">
        <div nz-carousel-content>
          <img src="./../../../../assets/lib/images/company-introduce-roasting-image1.jpg" alt="公司介绍轮播图片">
        </div>
        <div nz-carousel-content>
          <img src="./../../../../assets/lib/images/company-introduce-roasting-image1.jpg" alt="公司介绍轮播图片">
        </div>
      </nz-carousel>
    </div>
  </div>

  <div class="company company-development">
    <h4>发展历程</h4>
    <div class="development-content">
      <ul class="dev-list">
        <li>
          <div class="dev-date fl">
            <p class="tx-right">02</p>
            <p class="tx-right"> 2016&nbsp; Dec</p>
          </div>
          <div class="dev-icon fl">
            <i class="anticon anticon-trademark"></i>
          </div>
          <div class="dev-des fl">
            <h5>获得1.56亿美元B轮融资</h5>
            <p>
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
            </p>
          </div>
          <span class="dev-link-line"></span>
        </li>
        <li>
          <div class="dev-date fl">
            <p class="tx-right">02</p>
            <p class="tx-right"> 2016&nbsp; Dec</p>
          </div>
          <div class="dev-icon fl">
            <i class="anticon anticon-trademark"></i>
          </div>
          <div class="dev-des fl">
            <h5>获得1.56亿美元B轮融资</h5>
            <p>
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
            </p>
          </div>
          <span class="dev-link-line"></span>
        </li>
        <li>
          <div class="dev-date fl">
            <p class="tx-right">02</p>
            <p class="tx-right"> 2016&nbsp; Dec</p>
          </div>
          <div class="dev-icon fl">
            <i class="anticon anticon-trademark"></i>
          </div>
          <div class="dev-des fl">
            <h5>获得1.56亿美元B轮融资</h5>
            <p>
              融资机构：腾讯领投、钟鼎创投、高瓴资本、DCM跟投 ；融资金额：数亿元
            </p>
          </div>
          <span class="dev-link-line"></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="company company-position">
      <h4>公司位置</h4>
      <div class="position-box">
        <div class="map-box fl">
          <!-- <gd-map></gd-map> -->
        </div>
        <div class="map-site fl">
          <div class="company-site">
            <span class="company-number">1</span>
            <span class="company-addr">成都市</span>
            <p class="com-addr-des">成都成都市武侯区天府软件园e3-1-11</p>
          </div>
          <div class="company-site">
            <span class="company-number">2</span>
            <span class="company-addr">成都市</span>
            <p class="com-addr-des">成都成都市武侯区天府软件园e3-1-11</p>
          </div>
          <div class="company-site">
            <span class="company-number">3</span>
            <span class="company-addr">成都市</span>
            <p class="com-addr-des">成都成都市武侯区天府软件园e3-1-11</p>
          </div>
          <div class="company-site">
            <span class="company-number">4</span>
            <span class="company-addr">成都市</span>
            <p class="com-addr-des">成都成都市武侯区天府软件园e3-1-11</p>
          </div>
        </div>
      </div>
    </div>
</div>