<div nz-row>
  <div nz-col [nzSpan]="24">
    <div class="searchClass">
      <nz-input-group [nzSize]="'large'" [nzCompact]="true">
        <nz-select [ngModel]="'职位'">
          <nz-option [nzLabel]="'职位'" [nzValue]="'职位'"></nz-option>
          <nz-option [nzLabel]="'公司'" [nzValue]="'公司'"></nz-option>
        </nz-select>
        <input placeholder="{{searchTxt}}" style="width: 70%;height: 40px;" nz-input>
        <button nz-button [nzType]="'primary'" style="height: 40px;">
          <i class="anticon anticon-search"></i><span>搜索</span>
        </button>
      </nz-input-group>
    </div>
  </div>
</div>
<div nz-row class="search-box">
  <div nz-col [nzSpan]="24">
    <choese-menu></choese-menu>
    <div class="jobs">
      <jobs-show></jobs-show>
    </div>
  </div>
</div>