<div class="jobs-search">
  <div class="search-menu">
    <choese-menu></choese-menu>
  </div>
  <div class="search-result">
    <ul class="search-list">
      <li class="jobsListTitle">
        <div class="fl">职位</div>
        <div class="fl">公司名称</div>
        <div class="fr">发布时间</div>
      </li>
      <li class="jobsList">
        <div class="fl"><a href="javascript:;">职位1</a></div>
        <div class="fl"><a href="javascript:;">公司名称2</a></div>
        <div class="fr"><a href="javascript:;">发布时间1</a></div>
      </li>
      <li class="jobsList">
        <div class="fl"><a href="javascript:;">职位1</a></div>
        <div class="fl"><a href="javascript:;">公司名称2</a></div>
        <div class="fr"><a href="javascript:;">发布时间1</a></div>
      </li>
      <li class="jobsList">
        <div class="fl"><a href="javascript:;">职位1</a></div>
        <div class="fl"><a href="javascript:;">公司名称2</a></div>
        <div class="fr"><a href="javascript:;">发布时间1</a></div>
      </li>
      <li class="jobsList">
        <div class="fl"><a href="javascript:;">职位1</a></div>
        <div class="fl"><a href="javascript:;">公司名称2</a></div>
        <div class="fr"><a href="javascript:;">发布时间1</a></div>
      </li>
      <li class="jobsList">
        <div class="fl"><a href="javascript:;">职位1</a></div>
        <div class="fl"><a href="javascript:;">公司名称2</a></div>
        <div class="fr"><a href="javascript:;">发布时间1</a></div>
      </li>
    </ul>
  </div>
</div>
