<div class="jobadd-form">
  <form nz-form [formGroup]="jobAddForm" (ngSubmit)="sendNewJob()">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="jobName" nz-form-item-required>职位名称</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobName')">
        <nz-input [nzSize]="'large'" formControlName="jobName" [nzPlaceHolder]="'职位名称'" [nzId]="'jobName'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('jobName').dirty&&getFormControl('jobName').hasError('required')">请填写招聘职位</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label nz-form-item-required>职位类别</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobClass')">
        <nz-select formControlName="jobClass" [nzSize]="'large'">
          <nz-option [nzLabel]="'计算机/互联网'" [nzValue]="'computer'"></nz-option>
          <nz-option [nzLabel]="'机械/设备/技工'" [nzValue]="'tech'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobClass').dirty&&getFormControl('jobClass').hasError('required')">请选择从事行业</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="workAddress" nz-form-item-required>工作地点</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('workAddress')">
        <cascader (companyLocation)="getJobWorkAddress($event)"></cascader>
        <nz-input [nzSize]="'large'" [(ngModel)]="workAddress" formControlName="workAddress" [nzId]="'workAddress'" style="display:none;"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('workAddress').dirty&&getFormControl('workAddress').hasError('required')">请选择工作地点</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="jobPosted" nz-form-item-required>职位过期时间</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobPosted')">
        <nz-datepicker formControlName="jobPosted" [nzPlaceHolder]="'选择职位过期时间'" [nzDisabledDate]="_disabledDate"></nz-datepicker>
        <div nz-form-explain *ngIf="getFormControl('jobPosted').dirty&&getFormControl('jobPosted').hasError('required')">请填写招聘职位</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label nz-form-item-required>薪资待遇</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobSalary')">
        <nz-select formControlName="jobSalary" [nzSize]="'large'">
          <nz-option [nzLabel]="'面议'" [nzValue]="'面议'"></nz-option>
          <nz-option [nzLabel]="'2k-4k'" [nzValue]="'2k-4k'"></nz-option>
          <nz-option [nzLabel]="'4k-6k'" [nzValue]="'4k-6k'"></nz-option>
          <nz-option [nzLabel]="'6k-8k'" [nzValue]="'6k-8k'"></nz-option>
          <nz-option [nzLabel]="'8k-10k'" [nzValue]="'8k-10k'"></nz-option>
          <nz-option [nzLabel]="'10k-15k'" [nzValue]="'10k-15k'"></nz-option>
          <nz-option [nzLabel]="'15k-25k'" [nzValue]="'15k-25k'"></nz-option>
          <nz-option [nzLabel]="'25k-50k'" [nzValue]="'25k-50k'"></nz-option>
          <nz-option [nzLabel]="'50k以上'" [nzValue]="'50k以上'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobSalary').dirty&&getFormControl('jobSalary').hasError('required')">单位行业</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="jobDescribe" nz-form-item-required>职位描述</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col>
        <a href="https://github.com/surmon-china/ngx-quill-editor" target="_blank">编辑器组件，暂未测试</a>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label nz-form-item-required>从事行业</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobIndustry')">
        <nz-select formControlName="jobIndustry" [nzSize]="'large'">
          <nz-option [nzLabel]="'计算机/互联网'" [nzValue]="'computer'"></nz-option>
          <nz-option [nzLabel]="'机械/设备/技工'" [nzValue]="'tech'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobIndustry').dirty&&getFormControl('jobIndustry').hasError('required')">单位行业</div>
      </div>
      <!-- 工作性质 -->
      <div nz-form-label nz-col class="w100 fl ml50">
        <label nz-form-item-required>工作性质</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobNatrue')">
        <nz-select formControlName="jobNatrue" [nzSize]="'large'">
          <nz-option [nzLabel]="'全职'" [nzValue]="'fullTime'"></nz-option>
          <nz-option [nzLabel]="'兼职'" [nzValue]="'partTime'"></nz-option>
          <nz-option [nzLabel]="'实习'" [nzValue]="'practice'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobNatrue').dirty&&getFormControl('jobNatrue').hasError('required')">工作性质</div>
      </div>
      <!-- 工作性质 -->
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="personNumber" nz-form-item-required>招聘人数</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('personNumber')">
        <nz-input [nzSize]="'large'" formControlName="personNumber" [nzPlaceHolder]="'招聘人数'" [nzId]="'personNumber'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('personNumber').dirty&&getFormControl('personNumber').hasError('required')">请填写招聘职位</div>
      </div>
      <!-- 到岗时间 -->
      <div nz-form-label nz-col class="w100 fl ml50">
        <label nz-form-item-required>到岗时间</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('arrivalTime')">
        <nz-select formControlName="arrivalTime" [nzSize]="'large'">
          <nz-option [nzLabel]="'立即到岗'" [nzValue]="'立即到岗'"></nz-option>
          <nz-option [nzLabel]="'一周以内'" [nzValue]="'一周以内'"></nz-option>
          <nz-option [nzLabel]="'两周以内'" [nzValue]="'两周以内'"></nz-option>
          <nz-option [nzLabel]="'三周以内'" [nzValue]="'三周以内'"></nz-option>
          <nz-option [nzLabel]="'一个月内'" [nzValue]="'一个月内'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('arrivalTime').dirty&&getFormControl('arrivalTime').hasError('required')">到岗时间</div>
      </div>
      <!-- 到岗时间 -->
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label nz-form-item-required>工作经验</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('workExp')">
        <nz-select formControlName="workExp" [nzSize]="'large'">
          <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
          <nz-option [nzLabel]="'1年以下'" [nzValue]="'1年以下'"></nz-option>
          <nz-option [nzLabel]="'1-3年'" [nzValue]="'1-3年'"></nz-option>
          <nz-option [nzLabel]="'3-5年'" [nzValue]="'3-5年'"></nz-option>
          <nz-option [nzLabel]="'5-8年'" [nzValue]="'5-8年'"></nz-option>
          <nz-option [nzLabel]="'8年以上'" [nzValue]="'8年以上'"></nz-option>
          <nz-option [nzLabel]="'详见职位描述'" [nzValue]="'详见职位描述'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('workExp').dirty&&getFormControl('workExp').hasError('required')">单位行业</div>
      </div>
      <!-- 性别要求 -->
      <div nz-form-label nz-col class="w100 fl ml50">
          <label nz-form-item-required>性别要求</label>
        </div>
        <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('sexGender')">
          <nz-select formControlName="sexGender" [nzSize]="'large'">
            <nz-option [nzLabel]="'男'" [nzValue]="'男'"></nz-option>
            <nz-option [nzLabel]="'女'" [nzValue]="'女'"></nz-option>
            <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('sexGender').dirty&&getFormControl('sexGender').hasError('required')">性别要求</div>
        </div>
        <!-- 性别要求 -->
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="ageRange" nz-form-item-required>年龄要求</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('ageRange')">
        <nz-select formControlName="ageRange" [nzSize]="'large'">
          <nz-option [nzLabel]="'18岁以上'" [nzValue]="'18岁以上'"></nz-option>
          <nz-option [nzLabel]="'24岁以上'" [nzValue]="'24岁以上'"></nz-option>
          <nz-option [nzLabel]="'28岁以上'" [nzValue]="'28岁以上'"></nz-option>
          <nz-option [nzLabel]="'30岁以上'" [nzValue]="'30岁以上'"></nz-option>
          <nz-option [nzLabel]="'40岁以上'" [nzValue]="'40岁以上'"></nz-option>
          <nz-option [nzLabel]="'详见职位要求'" [nzValue]="'详见职位要求'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('ageRange').dirty&&getFormControl('ageRange').hasError('required')">请选择职位年龄要求</div>
      </div>

      <!-- 婚姻状况 -->
      <div nz-form-label nz-col class="w100 fl ml50">
          <label nz-form-item-required>婚姻状况</label>
        </div>
        <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('maritalStatus')">
          <nz-select formControlName="maritalStatus" [nzSize]="'large'">
            <nz-option [nzLabel]="'已婚'" [nzValue]="'已婚'"></nz-option>
            <nz-option [nzLabel]="'未婚'" [nzValue]="'未婚'"></nz-option>
            <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('maritalStatus').dirty&&getFormControl('maritalStatus').hasError('required')">婚姻状况</div>
        </div>
        <!-- 婚姻状况 -->
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="minDegree" nz-form-item-required>学历要求</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('minDegree')">
        <nz-select formControlName="minDegree" [nzSize]="'large'">
          <nz-option [nzLabel]="'高中、中专'" [nzValue]="'高中及以下'"></nz-option>
          <nz-option [nzLabel]="'大专'" [nzValue]="'大专'"></nz-option>
          <nz-option [nzLabel]="'本科'" [nzValue]="'28岁以上'"></nz-option>
          <nz-option [nzLabel]="'硕士'" [nzValue]="'30岁以上'"></nz-option>
          <nz-option [nzLabel]="'博士'" [nzValue]="'40岁以上'"></nz-option>
          <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('minDegree').dirty&&getFormControl('minDegree').hasError('required')">请选择最低学历</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="language">语言要求</label>
      </div>
      <div class="fl" nz-form-control nz-col>
        <nz-checkbox-group [(ngModel)]="checkOptionslanguage" formControlName="language" (ngModelChange)="_logCheckbox(checkOptionslanguage)"></nz-checkbox-group>
      </div>
    </div>
    <!-- 福利待遇 -->
    <div nz-form-item nz-row>
        <div nz-form-label nz-col class="w100 fl">
          <label for="language">语言要求</label>
        </div>
        <div class="fl" nz-form-control nz-col>
          <nz-checkbox-group [(ngModel)]="checkOptionsWelfare" formControlName="workWelfare" (ngModelChange)="_logWorkWelfareBox(checkOptionsWelfare)"></nz-checkbox-group>
        </div>
      </div>


    <!-- <div nz-form-item nz-row>
        <div nz-form-label nz-col class="w100 fl">
          <label for="jobName" nz-form-item-required>职位名称</label>
        </div>
        <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobName')">
          <nz-input [nzSize]="'large'" formControlName="jobName" [nzPlaceHolder]="'职位名称'" [nzId]="'jobName'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('jobName').dirty&&getFormControl('jobName').hasError('required')">请填写招聘职位</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col class="w100 fl">
          <label nz-form-item-required>单位性质</label>
        </div>
        <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('companyNature')">
          <nz-select formControlName="companyNature" [nzSize]="'large'">
            <nz-option [nzLabel]="'政府单位'" [nzValue]="'government'"></nz-option>
            <nz-option [nzLabel]="'国企、事业单位'" [nzValue]="'nationalized'"></nz-option>
            <nz-option [nzLabel]="'民营企业'" [nzValue]="'nationalized'"></nz-option>
            <nz-option [nzLabel]="'外资企业'" [nzValue]="'foreign'"></nz-option>
            <nz-option [nzLabel]="'合资企业'" [nzValue]="'jointCapital'"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('companyNature').dirty&&getFormControl('companyNature').hasError('required')">单位行业</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col class="w100 fl">
          <label for="comNickname" nz-form-item-required>单位简称 </label>
        </div>
        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('comNickname')">
          <nz-input [nzSize]="'large'" formControlName="comNickname" [nzPlaceHolder]="'天投人资'" [nzId]="'comNickname'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('comNickname').dirty&&getFormControl('comNickname').hasError('required')">请输入单位简称</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col class="w100 fl">
          <label for="phoneNumber" nz-form-item-required>单位联系电话</label>
        </div>
        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('phoneNumber')">
            <nz-input [nzSize]="'large'" formControlName="phoneNumber" [nzPlaceHolder]="'02880518071或者13333333333'" [nzId]="'phoneNumber'"></nz-input>
            <div nz-form-explain *ngIf="getFormControl('phoneNumber').dirty&&getFormControl('phoneNumber').hasError('required')">输入单位联系人电话</div>
          </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col class="w100 fl">
          <label for="location" nz-form-item-required>单位所在地</label>
        </div>
        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('location')">
          <div><cascader (companyLocation)="getCompanyLocation($event)"></cascader></div>
          <nz-input [nzSize]="'large'" [(ngModel)]="location" formControlName="location" [nzId]="'phoneNumber'" style="display:none;"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('location').dirty&&getFormControl('location').hasError('required')">请选择单位所在地</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col class="w100 fl">
          <label for="address" nz-form-item-required>单位地址</label>
        </div>
        <div nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('address')">
          <nz-input [nzSize]="'large'" formControlName="address" [nzPlaceHolder]="'四川省成都市天府新区天府大道南段2018号'" [nzId]="'address'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('address').dirty&&getFormControl('address').hasError('required')">请输入单位地址</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col class="w100 fl">
          <label nz-form-item-required>招聘邮箱</label>
        </div>
        <div nz-col nz-form-control [nzValidateStatus]="getFormControl('companyEmail')" nzHasFeedback>
          <nz-input formControlName="companyEmail" [nzPlaceHolder]="'请输入招聘邮箱'" [nzType]="'companyEmail'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getFormControl('companyEmail').dirty&&getFormControl('companyEmail').hasError('required')">请正确输入单位的招聘邮箱</div>
        </div>
      </div>
   -->
    <div nz-form-item nz-row style="margin-bottom:8px;">
      <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
        <button nz-button [nzSize]="'large'" [nzType]="'primary'">发布职位</button>
      </div>
    </div>
  </form>
</div>