<div class="jobadd-form">
  <form nz-form [formGroup]="jobAddForm" (ngSubmit)="setNewJob()">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="jobName" nz-form-item-required>职位名称</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobName')">
        <nz-input [nzSize]="'large'" formControlName="jobName" [nzPlaceHolder]="'职位名称'" [nzId]="'jobName'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('jobName').dirty&&getFormControl('jobName').hasError('required')">请填写招聘职位</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label nz-form-item-required>职位类别</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobClass')">
        <nz-select formControlName="jobClass" [nzSize]="'large'">
          <nz-option [nzLabel]="'计算机/互联网'" [nzValue]="'computer'"></nz-option>
          <nz-option [nzLabel]="'机械/设备/技工'" [nzValue]="'tech'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobClass').dirty&&getFormControl('jobClass').hasError('required')">请选择职位类别</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="workAddress" nz-form-item-required>工作地点</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('workAddress')">
        <cascader (companyLocation)="getJobWorkAddress($event)"></cascader>
        <nz-input [nzSize]="'large'" [(ngModel)]="workAddress" formControlName="workAddress" [nzId]="'workAddress'" style="display:none;"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('workAddress').dirty&&getFormControl('workAddress').hasError('required')">请选择工作地点</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="jobPosted" nz-form-item-required>职位过期时间</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobPosted')">
        <nz-datepicker formControlName="jobPosted" [nzPlaceHolder]="'选择职位过期时间'" [nzDisabledDate]="_disabledDate"></nz-datepicker>
        <div nz-form-explain *ngIf="getFormControl('jobPosted').dirty&&getFormControl('jobPosted').hasError('required')">请选择职位过期时间</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label nz-form-item-required>薪资待遇</label>
      </div>
      <div class="w260 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobSalary')">
        <nz-select formControlName="jobSalary" [nzSize]="'large'">
          <nz-option [nzLabel]="'面议'" [nzValue]="'面议'"></nz-option>
          <nz-option [nzLabel]="'2k-4k'" [nzValue]="'2k-4k'"></nz-option>
          <nz-option [nzLabel]="'4k-6k'" [nzValue]="'4k-6k'"></nz-option>
          <nz-option [nzLabel]="'6k-8k'" [nzValue]="'6k-8k'"></nz-option>
          <nz-option [nzLabel]="'8k-10k'" [nzValue]="'8k-10k'"></nz-option>
          <nz-option [nzLabel]="'10k-15k'" [nzValue]="'10k-15k'"></nz-option>
          <nz-option [nzLabel]="'15k-25k'" [nzValue]="'15k-25k'"></nz-option>
          <nz-option [nzLabel]="'25k-50k'" [nzValue]="'25k-50k'"></nz-option>
          <nz-option [nzLabel]="'50k以上'" [nzValue]="'50k以上'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobSalary').dirty&&getFormControl('jobSalary').hasError('required')">薪资待遇</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="jobDescribe" nz-form-item-required>职位描述</label>
      </div>
      <div class="fl ckeditor" nz-form-control nz-col>
          <ckeditor
            formControlName="jobDescribe"
            [config]="config"
            [readonly]="false"
            debounce="500">
        </ckeditor>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label nz-form-item-required>从事行业</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobIndustry')">
        <nz-select formControlName="jobIndustry" [nzSize]="'large'">
          <nz-option [nzLabel]="'计算机/互联网'" [nzValue]="'computer'"></nz-option>
          <nz-option [nzLabel]="'机械/设备/技工'" [nzValue]="'tech'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobIndustry').dirty&&getFormControl('jobIndustry').hasError('required')">从事行业</div>
      </div>
      <!-- 工作性质 -->
      <div nz-form-label nz-col class="w100 fl ml50">
        <label nz-form-item-required>工作性质</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobNatrue')">
        <nz-select formControlName="jobNatrue" [nzSize]="'large'">
          <nz-option [nzLabel]="'全职'" [nzValue]="'fullTime'"></nz-option>
          <nz-option [nzLabel]="'兼职'" [nzValue]="'partTime'"></nz-option>
          <nz-option [nzLabel]="'实习'" [nzValue]="'practice'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobNatrue').dirty&&getFormControl('jobNatrue').hasError('required')">工作性质</div>
      </div>
      <!-- 工作性质 -->
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="personNumber" nz-form-item-required>招聘人数</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('personNumber')">
        <nz-input [nzSize]="'large'" formControlName="personNumber" [nzPlaceHolder]="'招聘人数'" [nzId]="'personNumber'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('personNumber').dirty&&getFormControl('personNumber').hasError('required')">请填写招聘人数</div>
      </div>
      <!-- 到岗时间 -->
      <div nz-form-label nz-col class="w100 fl ml50">
        <label nz-form-item-required>到岗时间</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('arrivalTime')">
        <nz-select formControlName="arrivalTime" [nzSize]="'large'">
          <nz-option [nzLabel]="'立即到岗'" [nzValue]="'立即到岗'"></nz-option>
          <nz-option [nzLabel]="'一周以内'" [nzValue]="'一周以内'"></nz-option>
          <nz-option [nzLabel]="'两周以内'" [nzValue]="'两周以内'"></nz-option>
          <nz-option [nzLabel]="'三周以内'" [nzValue]="'三周以内'"></nz-option>
          <nz-option [nzLabel]="'一个月内'" [nzValue]="'一个月内'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('arrivalTime').dirty&&getFormControl('arrivalTime').hasError('required')">到岗时间</div>
      </div>
      <!-- 到岗时间 -->
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label nz-form-item-required>工作经验</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('workExp')">
        <nz-select formControlName="workExp" [nzSize]="'large'">
          <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
          <nz-option [nzLabel]="'1年以下'" [nzValue]="'1年以下'"></nz-option>
          <nz-option [nzLabel]="'1-3年'" [nzValue]="'1-3年'"></nz-option>
          <nz-option [nzLabel]="'3-5年'" [nzValue]="'3-5年'"></nz-option>
          <nz-option [nzLabel]="'5-8年'" [nzValue]="'5-8年'"></nz-option>
          <nz-option [nzLabel]="'8年以上'" [nzValue]="'8年以上'"></nz-option>
          <nz-option [nzLabel]="'详见职位描述'" [nzValue]="'详见职位描述'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('workExp').dirty&&getFormControl('workExp').hasError('required')">单位行业</div>
      </div>
      <!-- 性别要求 -->
      <div nz-form-label nz-col class="w100 fl ml50">
          <label nz-form-item-required>性别要求</label>
        </div>
        <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('sexGender')">
          <nz-select formControlName="sexGender" [nzSize]="'large'">
            <nz-option [nzLabel]="'男'" [nzValue]="'男'"></nz-option>
            <nz-option [nzLabel]="'女'" [nzValue]="'女'"></nz-option>
            <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('sexGender').dirty&&getFormControl('sexGender').hasError('required')">性别要求</div>
        </div>
    </div>
    <!-- 性别要求 -->
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="ageRange" nz-form-item-required>年龄要求</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('ageRange')">
        <nz-select formControlName="ageRange" [nzSize]="'large'">
          <nz-option [nzLabel]="'18岁以上'" [nzValue]="'18岁以上'"></nz-option>
          <nz-option [nzLabel]="'24岁以上'" [nzValue]="'24岁以上'"></nz-option>
          <nz-option [nzLabel]="'28岁以上'" [nzValue]="'28岁以上'"></nz-option>
          <nz-option [nzLabel]="'30岁以上'" [nzValue]="'30岁以上'"></nz-option>
          <nz-option [nzLabel]="'40岁以上'" [nzValue]="'40岁以上'"></nz-option>
          <nz-option [nzLabel]="'详见职位要求'" [nzValue]="'详见职位要求'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('ageRange').dirty&&getFormControl('ageRange').hasError('required')">请选择职位年龄要求</div>
      </div>

      <!-- 婚姻状况 -->
      <div nz-form-label nz-col class="w100 fl ml50">
          <label nz-form-item-required>婚姻状况</label>
        </div>
        <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('maritalStatus')">
          <nz-select formControlName="maritalStatus" [nzSize]="'large'">
            <nz-option [nzLabel]="'已婚'" [nzValue]="'已婚'"></nz-option>
            <nz-option [nzLabel]="'未婚'" [nzValue]="'未婚'"></nz-option>
            <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('maritalStatus').dirty&&getFormControl('maritalStatus').hasError('required')">婚姻状况</div>
        </div>
        <!-- 婚姻状况 -->
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="minDegree" nz-form-item-required>学历要求</label>
      </div>
      <div class="w200 fl" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('minDegree')">
        <nz-select formControlName="minDegree" [nzSize]="'large'">
          <nz-option [nzLabel]="'高中、中专'" [nzValue]="'高中及以下'"></nz-option>
          <nz-option [nzLabel]="'大专'" [nzValue]="'大专'"></nz-option>
          <nz-option [nzLabel]="'本科'" [nzValue]="'28岁以上'"></nz-option>
          <nz-option [nzLabel]="'硕士'" [nzValue]="'30岁以上'"></nz-option>
          <nz-option [nzLabel]="'博士'" [nzValue]="'40岁以上'"></nz-option>
          <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('minDegree').dirty&&getFormControl('minDegree').hasError('required')">请选择最低学历</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="language">语言要求</label>
      </div>
      <div class="fl" nz-form-control nz-col>
        <nz-checkbox-group [(ngModel)]="checkOptionslanguage" formControlName="language" (ngModelChange)="_logCheckbox(checkOptionslanguage)"></nz-checkbox-group>
      </div>
    </div>
    <!-- 福利待遇 -->
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="language">福利待遇</label>
      </div>
      <div class="fl" nz-form-control nz-col>
        <nz-checkbox-group [(ngModel)]="checkOptionsWelfare" formControlName="workWelfare" (ngModelChange)="_logWorkWelfareBox(checkOptionsWelfare)"></nz-checkbox-group>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="linkPhone1">联系方式 </label>
      </div>
      <div nz-form-control nz-col nzHasFeedback class="w200 fl" [nzValidateStatus]="getFormControl('linkPhone1')">
        <nz-input [nzSize]="'large'" formControlName="linkPhone1" [nzId]="'linkPhone1'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('linkPhone1').dirty&&getFormControl('linkPhone1').hasError('required')">请正确填写您的手机号码</div>
      </div>
      <div nz-form-label nz-col class="w100 ml50 fl">
        <label for="linkPhone2">固定电话 </label>
      </div>
      <div nz-form-control nz-col nzHasFeedback class="w200 fl" [nzValidateStatus]="getFormControl('linkPhone2')">
        <nz-input [nzSize]="'large'" formControlName="linkPhone2" [nzId]="'linkPhone2'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('linkPhone2').dirty&&getFormControl('linkPhone2').hasError('required')">请正确填写您的座机号码</div>
      </div>
    </div>

    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100 fl">
        <label for="acceptResueEmail1">简历接收邮箱</label>
      </div>
      <div nz-col nz-form-control class="w200 fl" [nzValidateStatus]="getFormControl('acceptResumeEmail1')" nzHasFeedback>
        <nz-input formControlName="acceptResumeEmail1" nzDisabled [nzId]="'acceptResumeEmail1'" [nzType]="'acceptResumeEmail1'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('acceptResumeEmail1').dirty&&getFormControl('acceptResumeEmail1').hasError('required')">请正确填写简历接收邮箱</div>
      </div>
      <div nz-form-label nz-col class="w100 ml50 fl">
        <label for="acceptResumeEmail2">新邮箱</label>
      </div>
      <div nz-col nz-form-control class="w200 fl" [nzValidateStatus]="getFormControl('acceptResumeEmail2')" nzHasFeedback>
        <nz-input formControlName="acceptResumeEmail2" [nzId]="'acceptResumeEmail2'" [nzType]="'acceptResumeEmail2'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('acceptResumeEmail2').dirty&&getFormControl('acceptResumeEmail2').hasError('required')">请正确填写新的邮箱</div>
      </div>
    </div>


    <div nz-form-item nz-row style="margin-bottom:8px;">
      <div nz-form-control nz-col [nzSpan]="14" [nzOffset]="6">
        <button nz-button [nzSize]="'large'" [nzType]="'primary'">发布职位</button>
      </div>
    </div>
  </form>
</div>