<h3 class="resume-refer">简历是求职的利器，好的简历才能更快找到好工作！<span class="red">必填</span></h3>
<div class="resume-form">
  <form nz-form [formGroup]="userResumeForm" (ngSubmit)="_submitUserResumeForm()">
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="resumeName" nz-form-item-required>简历名称</label>
      </div>
      <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('resumeName')">
        <nz-input [nzSize]="'large'" formControlName="resumeName" [nzPlaceHolder]="'如：销售总监,销售经理'" [nzId]="'resumeName'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('resumeName').dirty&&getFormControl('resumeName').hasError('required')">简历名称</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100">
        <label nz-form-item-required>从事行业</label>
      </div>
      <div class="w250" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobsClass')">
        <nz-select formControlName="jobsClass" [nzSize]="'large'">
          <nz-option [nzLabel]="'计算机/互联网'" [nzValue]="'computer'"></nz-option>
          <nz-option [nzLabel]="'机械/设备/技工'" [nzValue]="'tech'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobsClass').dirty&&getFormControl('jobsClass').hasError('required')">从事行业</div>
      </div>
    </div>


    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100">
        <label nz-form-item-required>期望职位</label>
      </div>
      <div class="w250" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobsName')">
        <nz-select formControlName="jobsName" [nzSize]="'large'">
          <nz-option [nzLabel]="'计算机/互联网'" [nzValue]="'computer'"></nz-option>
          <nz-option [nzLabel]="'机械/设备/技工'" [nzValue]="'tech'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobsName').dirty&&getFormControl('jobsName').hasError('required')">请选择期望职位</div>
      </div>
    </div>


    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100">
        <label nz-form-item-required>期望薪资</label>
      </div>
      <div class="w250" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobsSalary')">
        <nz-select formControlName="jobsSalary" [nzSize]="'large'">
          <nz-option [nzLabel]="'面议'" [nzValue]="'面议'"></nz-option>
          <nz-option [nzLabel]="'2k-4k'" [nzValue]="'2k-4k'"></nz-option>
          <nz-option [nzLabel]="'4k-6k'" [nzValue]="'4k-6k'"></nz-option>
          <nz-option [nzLabel]="'6k-8k'" [nzValue]="'6k-8k'"></nz-option>
          <nz-option [nzLabel]="'8k-10k'" [nzValue]="'8k-10k'"></nz-option>
          <nz-option [nzLabel]="'10k-15k'" [nzValue]="'10k-15k'"></nz-option>
          <nz-option [nzLabel]="'15k-25k'" [nzValue]="'15k-25k'"></nz-option>
          <nz-option [nzLabel]="'25k-50k'" [nzValue]="'25k-50k'"></nz-option>
          <nz-option [nzLabel]="'50k以上'" [nzValue]="'50k以上'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobsSalary').dirty&&getFormControl('jobsSalary').hasError('required')">请选择期望薪资</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100">
        <label for="jobsAddr" nz-form-item-required>期望城市</label>
      </div>
      <div class="w250" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobsAddr')">
        <cascader (companyLocation)="getJobjobsAddress($event)"></cascader>
        <nz-input [nzSize]="'large'" [(ngModel)]="jobsAddr" formControlName="jobsAddr" [nzId]="'jobsAddr'" style="display:none;"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('jobsAddr').dirty&&getFormControl('jobsAddr').hasError('required')">请选择期望工作地点</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100">
        <label nz-form-item-required>工作性质</label>
      </div>
      <div class="w250" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('jobNature')">
        <nz-select formControlName="jobNature" [nzSize]="'large'">
          <nz-option [nzLabel]="'全职'" [nzValue]="'fullTime'"></nz-option>
          <nz-option [nzLabel]="'兼职'" [nzValue]="'partTime'"></nz-option>
          <nz-option [nzLabel]="'实习'" [nzValue]="'practice'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('jobNature').dirty&&getFormControl('jobNature').hasError('required')">请选择工作性质</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100">
        <label nz-form-item-required>到岗时间</label>
      </div>
      <div class="w250" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('arrivalTime')">
        <nz-select formControlName="arrivalTime" [nzSize]="'large'">
          <nz-option [nzLabel]="'立即到岗'" [nzValue]="'立即到岗'"></nz-option>
          <nz-option [nzLabel]="'一周以内'" [nzValue]="'一周以内'"></nz-option>
          <nz-option [nzLabel]="'两周以内'" [nzValue]="'两周以内'"></nz-option>
          <nz-option [nzLabel]="'三周以内'" [nzValue]="'三周以内'"></nz-option>
          <nz-option [nzLabel]="'一个月内'" [nzValue]="'一个月内'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('arrivalTime').dirty&&getFormControl('arrivalTime').hasError('required')">请选择到岗时间</div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col class="w100">
        <label for="JobStatus" nz-form-item-required>求职状态</label>
      </div>
      <div class="w250" nz-form-control nz-col nzHasFeedback [nzValidateStatus]="getFormControl('JobStatus')">
        <nz-select formControlName="JobStatus" [nzSize]="'large'">
          <nz-option [nzLabel]="'已离职，寻求新工作'" [nzValue]="'已离职，寻求新工作'"></nz-option>
          <nz-option [nzLabel]="'在职，考虑更好的职位'" [nzValue]="'在职，考虑更好的职位'"></nz-option>
          <nz-option [nzLabel]="'其他'" [nzValue]="'其他'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('JobStatus').dirty&&getFormControl('JobStatus').hasError('required')">请选择职求职状态</div>
      </div>
    </div>
    <div nz-form-item class="row">
      <div class="title"><h3>个人基本信息<span class="red">必填</span></h3></div>
    </div>
      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label for="userName" nz-form-item-required>姓名</label>
        </div>
        <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('userName')">
          <nz-input [nzSize]="'large'" formControlName="userName" [nzPlaceHolder]="'张三'" [nzId]="'userName'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('required')">输入姓名</div>
        </div>
      </div>
      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label nz-form-item-required>性别</label>
        </div>
        <div class="w250" nz-form-control nzHasFeedback [nzValidateStatus]="getFormControl('userSex')">
          <nz-select formControlName="userSex" [nzSize]="'large'">
            <nz-option [nzLabel]="'男'" [nzValue]="'男'"></nz-option>
            <nz-option [nzLabel]="'女'" [nzValue]="'女'"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('userSex').dirty&&getFormControl('userSex').hasError('required')">请选择您的性别</div>
        </div>
      </div>
      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label for="userBirthday" nz-form-item-required>出生日期</label>
        </div>
        <div class="w250" nz-form-control nzHasFeedback [nzValidateStatus]="getFormControl('userBirthday')">
          <nz-datepicker formControlName="userBirthday" [nzPlaceHolder]="'出生日期'" [nzDisabledDate]="_disabledDate"></nz-datepicker>
          <div nz-form-explain *ngIf="getFormControl('userBirthday').dirty&&getFormControl('userBirthday').hasError('required')">请选择出生日期</div>
        </div>
      </div>
      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label for="userIdcard" nz-form-item-required>身份证号码 </label>
        </div>
        <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('userIdcard')">
          <nz-input [nzSize]="'large'" formControlName="userIdcard" [nzPlaceHolder]="'身份证号码'" [nzId]="'userIdcard'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('userIdcard').dirty&&getFormControl('userIdcard').hasError('required')">请输入身份证号码</div>
        </div>
      </div>
      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label for="maxDegree" nz-form-item-required>最高学历</label>
        </div>
        <div class="w250" nz-form-control nzHasFeedback [nzValidateStatus]="getFormControl('maxDegree')">
          <nz-select formControlName="maxDegree" [nzSize]="'large'">
            <nz-option [nzLabel]="'高中、中专'" [nzValue]="'高中及以下'"></nz-option>
            <nz-option [nzLabel]="'大专'" [nzValue]="'大专'"></nz-option>
            <nz-option [nzLabel]="'本科'" [nzValue]="'28岁以上'"></nz-option>
            <nz-option [nzLabel]="'硕士'" [nzValue]="'30岁以上'"></nz-option>
            <nz-option [nzLabel]="'博士'" [nzValue]="'40岁以上'"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('maxDegree').dirty&&getFormControl('maxDegree').hasError('required')">请选择最高学历</div>
        </div>
      </div>
      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label nz-form-item-required>工作经验</label>
        </div>
        <div class="w250" nz-form-control nzHasFeedback [nzValidateStatus]="getFormControl('workExp')">
          <nz-select formControlName="workExp" [nzSize]="'large'">
            <nz-option [nzLabel]="'1年以下'" [nzValue]="'1年以下'"></nz-option>
            <nz-option [nzLabel]="'1-3年'" [nzValue]="'1-3年'"></nz-option>
            <nz-option [nzLabel]="'3-5年'" [nzValue]="'3-5年'"></nz-option>
            <nz-option [nzLabel]="'5-8年'" [nzValue]="'5-8年'"></nz-option>
            <nz-option [nzLabel]="'8年以上'" [nzValue]="'8年以上'"></nz-option>
          </nz-select>
          <div nz-form-explain *ngIf="getFormControl('workExp').dirty&&getFormControl('workExp').hasError('required')">请选择工作经验</div>
        </div>
      </div>

      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label for="phoneNumber" nz-form-item-required>手机号码</label>
        </div>
        <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('phoneNumber')">
          <nz-input [nzSize]="'large'" formControlName="phoneNumber" [nzPlaceHolder]="'如：13333333333'" [nzId]="'phoneNumber'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('phoneNumber').dirty&&getFormControl('phoneNumber').hasError('required')">输入手机号码</div>
        </div>
      </div>

      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label nz-form-item-required>求职邮箱</label>
        </div>
        <div class="w250" nz-form-control [nzValidateStatus]="getFormControl('userEmail')" nzHasFeedback>
          <nz-input formControlName="userEmail" [nzPlaceHolder]="'请输入电子邮箱'" [nzType]="'userEmail'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getFormControl('userEmail').dirty&&getFormControl('userEmail').hasError('required')">请正确输入电子邮箱</div>
        </div>
      </div>
      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label for="liveAddress" nz-form-item-required>现居住地</label>
        </div>
        <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('liveAddress')">
          <nz-input [nzSize]="'large'" formControlName="liveAddress" [nzPlaceHolder]="'四川省成都市天府新区天府大道南段2028号'" [nzId]="'liveAddress'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('liveAddress').dirty&&getFormControl('liveAddress').hasError('required')">请输入您的居住地址</div>
        </div>
      </div>
      
      <div nz-form-item class="row">
        <div nz-form-label class="w100">
          <label for="website">个人主页/博客</label>
        </div>
        <div nz-form-control class="w250">
          <nz-input [nzSize]="'large'" formControlName="website" [nzPlaceHolder]="'http://www.cdtfhr.com'" [nzId]="'website'"></nz-input>
        </div>
      </div>

      <div nz-form-item style="width: 350px;margin-bottom:8px;text-align:center;">
        <button nz-button [nzSize]="'large'" [nzType]="'primary'">保存</button>
      </div>
  </form>
  </div>