<div nz-row [nzGutter]="8">
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="gutter-box">
      <nz-card style="width:240px">
        <ng-template #body>
          <div class="custom-image">
            <img alt="example" width="100%" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </div>
          <div class="custom-card">
            <h3>Europe Street beat</h3>
            <p>www.instagram.com</p>
          </div>
        </ng-template>
      </nz-card>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="gutter-box">
      <nz-card style="width:240px">
        <ng-template #body>
          <div class="custom-image">
            <img alt="example" width="100%" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </div>
          <div class="custom-card">
            <h3>Europe Street beat</h3>
            <p>www.instagram.com</p>
          </div>
        </ng-template>
      </nz-card>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="gutter-box">
      <nz-card style="width:240px">
        <ng-template #body>
          <div class="custom-image">
            <img alt="example" width="100%" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </div>
          <div class="custom-card">
            <h3>Europe Street beat</h3>
            <p>www.instagram.com</p>
          </div>
        </ng-template>
      </nz-card>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="gutter-box">
      <nz-card style="width:240px">
        <ng-template #body>
          <div class="custom-image">
            <img alt="example" width="100%" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </div>
          <div class="custom-card">
            <h3>Europe Street beat</h3>
            <p>www.instagram.com</p>
          </div>
        </ng-template>
      </nz-card>
    </div>
  </div>
</div>