<div class="recreate">
  <div class="info_list">
    <h2>完善简历有助于更好的求职！</h2>
    <div class="info">
      <div class="title">工作经历 <span class="editor fr mr50" (click)="showModal()">编辑工作经历</span></div>
      <div class="content">
        <div class="con_row" *ngFor="let deWork of workExp">
          <div class="con_left fl">{{deWork._date}}</div>
          <div class="con_right fl">
            <h3>{{deWork.companyName}} <span style="margin-left:20px;">{{deWork.jobName}}</span></h3>
            <p *ngFor="let work of deWork.works;let i=index;"> {{i}}、{{work}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 工作经历添加 -->
    <nz-modal [nzVisible]="isAddWorksExp" [nzTitle]="'工作经历'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading">
      <ng-template #modalContent>
        <div class="box">
            <form nz-form [formGroup]="validateForm">
              <div *ngFor="let control of controlArray;let i = index">
                <h3 class="model_title" *ngIf="i !== 0"><i class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="removeField(control,$event)"></i></h3>
                <div nz-form-item>
                  <div nz-form-label class="fl w100">
                    <label [attr.for]="control.controlInstance">公司名称</label>
                  </div>
                  <div nz-form-control class="fl w250">
                    <nz-input
                      [nzSize]="'large'"
                      [nzPlaceHolder]="'公司名称'"
                      [formControlName]="control.controlInstance"
                      [nzId]="control.controlInstance">
                    </nz-input>
                    <div nz-form-explain
                      *ngIf="getFormControl(control.controlInstance)?.dirty&&getFormControl(control.controlInstance)?.hasError('required')">
                      请填写公司名称
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
                
                <div nz-form-item>
                    <div nz-form-label class="fl w100">
                      <label  [attr.for]="control.startDate">工作时间</label>
                    </div>
                    <div nz-form-control class="fl w250">
                      <nz-input
                        [nzSize]="'large'"
                        [nzPlaceHolder]="'工作时间'"
                        [formControlName]="control.startDate"
                        [nzId]="control.startDate">
                      </nz-input>
                      <div nz-form-explain
                        *ngIf="getFormControl(control.companyName)?.dirty&&getFormControl(control.companyName)?.hasError('required')">
                        请填写工作时间
                      </div>
                    </div>
                </div>
                <div nz-form-item>
                    <div nz-form-label class="fl w100">
                      <label>工作内容</label>
                    </div>
                    <div nz-form-control class="fl w250">
                        <nz-input
                                [formControlName]="control.content"
                                [nzType]="'textarea'" 
                                [nzRows]="'4'" 
                                [nzPlaceHolder]="'工作内容'">
                        </nz-input>
                      <div nz-form-explain
                        *ngIf="getFormControl(control.content)?.dirty&&getFormControl(control.content)?.hasError('required')">
                        请填写工作内容
                      </div>
                    </div>
                </div>
              </div>
              </form>
            <div>
              <button nz-button [nzType]="'dashed'" [nzSize]="'large'" style="width:60%" (click)="addField($event)">
                <i class="anticon anticon-plus"></i>
                <span> Add field</span>
              </button>
            </div>
        </div>
      </ng-template>
    </nz-modal>
    <!-- 工作经历添加 -->

    <div class="info">
      <div class="title">教育经历</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">培训经历</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">职业技能</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">项目经验</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">其他信息</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">自我评价</div>
      <div class="content">工作经历</div>
    </div>

  </div>
</div>