.mr50{margin-right: 50px;}
.w100{width:100px;}
.w250{width:250px;}
.editor:hover{ color:#768eb2;background: #f1f1f1;}

.recreate{ margin-left: -20px;border:1px solid #768eb2;}
.info_list h2{ text-align: center; line-height: 40px;font-size:24px;color:orange;}
.info{ margin-bottom: 30px;}
.title{ text-indent: 20px; line-height: 30px; font-size: 16px; color: #fff; background: #768eb2;}
.content{ margin-top:10px;}
.content>div{ font-size: 16px;}
.con_row:after{ content:'.'; height: 0;display: block;visibility: hidden;overflow: hidden;clear:both;}
.con_left{ width: 150px;text-align: center;}
.con_right{width: calc(100% - 150px); padding: 0 20px;}


/* 工作经历表单 */
.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
  }
.form-content{ margin-bottom: 20px;}
.form-content>div{ margin-bottom: 10px;}
.form-content>div:after{content: '.';display: block;height: 0; visibility: hidden; clear:both;}
.content-title{display: inline-block;float:left;  width: 100px;font-size:16px;color:#768eb2;}
.content-input{ float: left;width: 200px; }
.datePicker{ float: left; width: 300px;}
.content-textarea{ float:left; width: 350px;resize: none;}

/* 职业技能 */
.skill_name>p{text-indent: 20px; margin-right: 20px;}
.skill_zs, .skill_zs img{ height: 80px; overflow: hidden;border:0;}
.skill_zs{text-indent: 20px;display: flex;align-items: center;}
/* 职业技能 */

/* 其他信息 */
.other_title, .other_con{text-indent: 20px; line-height: 30px;}
.other_title{ font-weight: 600;}
/* 其他信息 */
/* 自我评价 */
.self_evaluate{ text-indent: 20px; line-height: 30px;}