<div class="recreate">
  <div class="info_list">
    <h2>完善简历有助于更好的求职！</h2>
    <div class="info">
      <div class="title">工作经历 <span class="editor fr mr50" (click)="showModal('isAddWorksExp')">+编辑工作经历</span></div>
      <div class="content" *ngIf="!isWorkExp">
        <div class="con_row">
          <div class="con_left fl">2009年9月10号 - 2019年9月10号</div>
          <div class="con_right fl">
            <h3>XXX有限公司<span style="margin-left:20px;">产品研发</span></h3>
            <p>1、主导XXX的版本迭代，并负责主要需求，协调开发、设计资源，推动项目进度，保证产品质量，打磨细节体验</p>
            <p>2、参与讨论及制订XXX的各版本需求，根据行业热点及用户反馈，提出有效的产品方案</p>
            <p>3、负责版本上线后的推广工作，通过官方网站和论坛等渠道将新功能触达用户</p>
            <p>4、跟进用户反馈并分析数据，持续优化已有功能</p>
          </div>
        </div>
      </div>
      <div class="content" *ngIf="isWorkExp">
        <div class="con_row" *ngFor="let deWork of workExp">
          <div class="con_left fl">{{deWork.startDate}}-{{deWork.endDate}}</div>
          <div class="con_right fl">
            <h3>{{deWork.companyName}} <span style="margin-left:20px;">{{deWork.position}}</span></h3>
            <p *ngFor="let work of deWork.content;let i=index;"> {{i+1}}、{{work}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 工作经历添加 -->
    <nz-modal [nzVisible]="isAddWorksExp" [nzTitle]="'工作经历'" [nzContent]="workExpContent" (nzOnCancel)="handleCancel($event, 'isAddWorksExp')"
      (nzOnOk)="handleOk($event, 'isAddWorksExp')">
      <ng-template #workExpContent>
        <div class="box">
          <form nz-form [formGroup]="workExpForm">
            <div class="form-content">
              <div>
                <span class="content-title">公司名称</span>
                <input class="content-input" type="text" formControlName="companyName" />
              </div>
              <div>
                <span class="content-title">担任职位</span>
                <input class="content-input" type="text" formControlName="position" />
              </div>
              <div>
                <span class="content-title">工作时间</span>
                <div class="datePicker">
                  <date-picker (workDate)="getWorkDate($event)"></date-picker>
                </div>
              </div>
              <div>
                <span class="content-title">工作内容</span>
                <textarea class="content-textarea" formControlName="content" name="content" cols="30" rows="6"></textarea>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </nz-modal>
    <!-- 工作经历添加 -->

    <div class="info">
      <div class="title">教育经历 <span class="editor fr mr50" (click)="showModal('isAddStudyExp')">+编辑教育经历</span></div>
      <div class="content" *ngIf="!isStudyExp">
        <div class="con_row">
          <div class="con_left fl">2010.09-2014.06</div>
          <div class="con_right fl">
            <h3>北京大学 <span style="margin-left:20px;">本科</span></h3>
            <p> 专业、班级职务</p>
          </div>
        </div>
      </div>
      <div class="content" *ngIf="isStudyExp">
        <div class="con_row" *ngFor="let study of studyExp">
          <div class="con_left fl">{{study.startDate}}-{{study.endDate}}</div>
          <div class="con_right fl">
            <h3>{{study.schoolName}} <span style="margin-left:20px;">{{study.majors}}</span></h3>
            <p> {{study.education}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 教育经历 -->
    <nz-modal [nzVisible]="isAddStudyExp" [nzTitle]="'教育经历'" [nzContent]="studyExpContent" (nzOnCancel)="handleCancel($event, 'isAddStudyExp')"
      (nzOnOk)="handleOk($event, 'isAddStudyExp')">
      <ng-template #studyExpContent>
        <div class="box">
          <form nz-form [formGroup]="studyExpForm">
            <div class="form-content">
              <div>
                <span class="content-title">学校名称</span>
                <input class="content-input" type="text" formControlName="schoolName" />
              </div>
              <div>
                <span class="content-title">所学专业</span>
                <input class="content-input" type="text" formControlName="majors" />
              </div>
              <div>
                <span class="content-title">在校时间</span>
                <div class="datePicker">
                  <date-picker (workDate)="getStudykDate($event)"></date-picker>
                </div>
              </div>
              <div>
                <span class="content-title">学历</span>
                <nz-select style="width: 100px;" formControlName="education" [nzSize]="'large'">
                  <nz-option [nzLabel]="'初中及以下'" [nzValue]="'初中及以下'"></nz-option>
                  <nz-option [nzLabel]="'高中、中专'" [nzValue]="'高中、中专'"></nz-option>
                  <nz-option [nzLabel]="'大专'" [nzValue]="'大专'"></nz-option>
                  <nz-option [nzLabel]="'本科'" [nzValue]="'本科'"></nz-option>
                  <nz-option [nzLabel]="'硕士'" [nzValue]="'硕士'"></nz-option>
                  <nz-option [nzLabel]="'博士'" [nzValue]="'博士'"></nz-option>
                </nz-select>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </nz-modal>
    <!-- 教育经历 -->

    <div class="info">
      <div class="title">培训经历 <span class="editor fr mr50" (click)="showModal('isAddPxExp')">+编辑培训经历</span></div>
      <div class="content" *ngIf="!isPxExp">
        <div class="con_row">
          <div class="con_left fl">2009年9月10号 - 2019年9月10号</div>
          <div class="con_right fl">
            <h3>新东方<span style="margin-left:20px;">挖掘机系统培训</span></h3>
            <p>1、挖掘机</p>
            <p>2、前端</p>
            <p>3、美工培训</p>
            <p>4、川菜培训</p>
          </div>
        </div>
      </div>
      <div class="content" *ngIf="isPxExp">
        <div class="con_row" *ngFor="let el of pxExp">
          <div class="con_left fl">{{el.startDate}}-{{el.endDate}}</div>
          <div class="con_right fl">
            <h3>{{el.companyName}} <span style="margin-left:20px;">{{el.position}}</span></h3>
            <p *ngFor="let px of el.content;let i=index;"> {{i+1}}、{{px}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 培训经历 -->
    <nz-modal [nzVisible]="isAddPxExp" [nzTitle]="'培训经历'" [nzContent]="pxExpContent" (nzOnCancel)="handleCancel($event, 'isAddPxExp')"
      (nzOnOk)="handleOk($event, 'isAddPxExp')">
      <ng-template #pxExpContent>
        <div class="box">
          <form nz-form [formGroup]="pxExpForm">
            <div class="form-content">
              <div>
                <span class="content-title">培训机构</span>
                <input class="content-input" type="text" formControlName="companyName" />
              </div>
              <div>
                <span class="content-title">培训方向</span>
                <input class="content-input" type="text" formControlName="position" />
              </div>
              <div>
                <span class="content-title">培训时间</span>
                <div class="datePicker">
                  <date-picker (workDate)="getPxDate($event)"></date-picker>
                </div>
              </div>
              <div>
                <span class="content-title">培训内容</span>
                <textarea class="content-textarea" formControlName="content" name="content" cols="30" rows="6"></textarea>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </nz-modal>
    <!-- 培训经历 -->

    <div class="info">
      <div class="title">职业技能</div>
      <div class="content">
        <ul class="skills">
          <li>
            <div class="skill_name">
              <p class="fl">技能名称：<span>英语CET6、法语</span></p>
              <p class="fl">掌握时间：<span>3年</span></p>
              <div class="skill_zs clear">
                技能证书：
                <img src="/assets/lib/images/zs.jpg" alt="技能证书">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="info">
      <div class="title">项目经验 <span class="editor fr mr50" (click)="showModal('isAddProExp')">+编辑项目经历</span></div>
      <div class="content" *ngIf="!isPxExp">
        <div class="con_row">
          <div class="con_left fl">2009年9月10号 - 2019年9月10号</div>
          <div class="con_right fl">
            <h3>温暖明天<span style="margin-left:20px;">项目计划</span></h3>
            <p>1、引导用户爱护花草树木</p>
            <p>2、项目上线期间，参与用户互动</p>
            <p>3、项目获得XXX大学求是杯</p>
            <p>4、川菜项目</p>
          </div>
        </div>
      </div>
      <div class="content" *ngIf="isProExp">
        <div class="con_row" *ngFor="let el of proExp">
          <div class="con_left fl">{{el.startDate}}-{{el.endDate}}</div>
          <div class="con_right fl">
            <h3>{{el.projectName}} <span style="margin-left:20px;">{{el.position}}</span></h3>
            <p *ngFor="let pro of el.content;let i=index;"> {{i+1}}、{{pro}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 项目经验 -->
    <nz-modal [nzVisible]="isAddProExp" [nzTitle]="'项目经验'" [nzContent]="proExpContent" (nzOnCancel)="handleCancel($event, 'isAddProExp')"
      (nzOnOk)="handleOk($event, 'isAddProExp')">
      <ng-template #proExpContent>
        <div class="box">
          <form nz-form [formGroup]="proExpForm">
            <div class="form-content">
              <div>
                <span class="content-title">项目名称</span>
                <input class="content-input" type="text" formControlName="projectName" />
              </div>
              <div>
                <span class="content-title">担任职位</span>
                <input class="content-input" type="text" formControlName="position" />
              </div>
              <div>
                <span class="content-title">项目时间</span>
                <div class="datePicker">
                  <date-picker (workDate)="getProDate($event)"></date-picker>
                </div>
              </div>
              <div>
                <span class="content-title">项目内容</span>
                <textarea class="content-textarea" formControlName="content" name="content" cols="30" rows="6"></textarea>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </nz-modal>
    <!-- 项目经验 -->

    <div class="info">
      <div class="title">其他信息 <span class="editor fr mr50" (click)="showModal('isAddOtherExp')">+编辑其他信息</span></div>
      <div class="content" *ngIf="!isOtherExp">
        <ul class="other_info">
          <li>
            <div class="other_title">标题：校内经历</div>
            <div class="other_con">内容：1、主导多个版本的立项审查；2、负责原子弹生产工艺的设计；3、负责原子弹实验结果评估；4、负责原子弹的推广运营</div>
          </li>
        </ul>
      </div>
      <div class="content" *ngIf="isOtherExp">
        <ul class="other_info">
          <li *ngFor="let other of otherExp">
            <div class="other_title">标题：{{other.title}}</div>
            <div class="other_con">内容：<span *ngFor="let con of other.content;let i=index;">{{i+1}}、{{con}}</span></div>
          </li>
        </ul>
      </div>
    </div>
    <nz-modal [nzVisible]="isAddOtherExp" [nzTitle]="'其他信息'" [nzContent]="otherExpContent" (nzOnCancel)="handleCancel($event, 'isAddOtherExp')"
      (nzOnOk)="handleOk($event, 'isAddOtherExp')">
      <ng-template #otherExpContent>
        <div class="box">
          <form nz-form [formGroup]="otherExpForm">
            <div class="form-content">
              <div>
                <span class="content-title">标题</span>
                <input class="content-input" type="text" formControlName="title" />
              </div>
              <div>
                <span class="content-title">内容</span>
                <textarea class="content-textarea" formControlName="content" name="content" cols="30" rows="6"></textarea>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </nz-modal>

    <div class="info">
      <div class="title">自我评价 <span class="editor fr mr50" (click)="showModal('isAddSelfExp')">+编辑其他信息</span></div>
      <div class="content" *ngIf="!isSelfExp">
        <p class="self_evaluate">热爱原子弹制造行业、关注核武器行业动态、学习能力强，对新事物充满好奇心！</p>
      </div>
      <div class="content" *ngIf="isSelfExp">
          <p class="self_evaluate" *ngFor="let _self of selfExp">{{_self.content}}</p>
        </div>
    </div>
    <nz-modal [nzVisible]="isAddSelfExp" [nzTitle]="'其他信息'" [nzContent]="selfExpContent" (nzOnCancel)="handleCancel($event, 'isAddSelfExp')" (nzOnOk)="handleOk($event, 'isAddSelfExp')">
      <ng-template #selfExpContent>
        <div class="box">
          <form nz-form [formGroup]="selfExpForm">
            <div class="form-content">
              <div>
                <span class="content-title">自我评价</span>
                <textarea class="content-textarea" formControlName="content" name="content" cols="30" rows="6"></textarea>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
      </nz-modal>
  </div>
</div>