<div class="recreate">
  <div class="info_list">
    <h2>完善简历有助于更好的求职！</h2>
    <div class="info">
      <div class="title">工作经历 <span class="editor fr mr50" (click)="showModal()">编辑工作经历</span></div>
      <div class="content" *ngIf="!isWorkExp">
        <div class="con_row">
          <div class="con_left fl">{{deWorkExp._date}}</div>
          <div class="con_right fl">
            <h3>{{deWorkExp.companyName}} <span style="margin-left:20px;">{{deWorkExp.position}}</span></h3>
            <p *ngFor="let work of deWorkExp.content;let i=index;"> {{i}}、{{work}}</p>
          </div>
        </div>
      </div>
      <div class="content" *ngIf="isWorkExp">
        <div class="con_row" *ngFor="let deWork of workExp">
          <div class="con_left fl">{{deWork.startDate}}-{{deWork.endDate}}</div>
          <div class="con_right fl">
            <h3>{{deWork.companyName}} <span style="margin-left:20px;">{{deWork.position}}</span></h3>
            <p *ngFor="let work of deWork.content;let i=index;"> {{i}}、{{work}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 工作经历添加 -->
    <nz-modal [nzVisible]="isAddWorksExp" [nzTitle]="'工作经历'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading">
      <ng-template #modalContent>
        <div class="box">
            <form nz-form [formGroup]="workExpForm">
              <div class="form-content">
                  <div>
                    <span class="content-title">公司名称</span>
                    <input class="content-input" type="text" formControlName="companyName" />
                  </div>
                  <div>
                    <span class="content-title">担任职位</span>
                    <input class="content-input" type="text" formControlName="position" />
                  </div>
                  <div>
                    <span class="content-title">工作时间</span>
                    <div class="datePicker">
                        <date-picker (workDate)="getWorkDate($event)"></date-picker>
                    </div>
                  </div>
                  <div>
                    <span class="content-title">工作内容</span>
                    <textarea id="content-textarea" class="content-textarea" formControlName="content" name="content" cols="30" rows="6"></textarea>
                  </div>
              </div>
            </form>
            <div>
              <button nz-button [nzType]="'dashed'" [nzSize]="'large'" style="width:60%" (click)="addField($event)">
                <i class="anticon anticon-plus"></i>
                <span> Add field</span>
              </button>
            </div>
        </div>
      </ng-template>
    </nz-modal>
    <!-- 工作经历添加 -->

    <div class="info">
      <div class="title">教育经历</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">培训经历</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">职业技能</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">项目经验</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">其他信息</div>
      <div class="content">工作经历</div>
    </div>

    <div class="info">
      <div class="title">自我评价</div>
      <div class="content">工作经历</div>
    </div>

  </div>
</div>