.w100{width:100px;}
.w250{width: 250px;}
.w100, .w250{float:left;}

.user-info>form{ width: 400px;margin-bottom: 30px;}
div.row:after{content:'.';display: block;height:0;visibility: hidden; clear:both;}