<div class="user-info">
  <form nz-form [formGroup]="userInfosForm" (ngSubmit)="_submitUserInfosForm()">
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="userName" nz-form-item-required>姓名</label>
      </div>
      <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('userName')">
        <nz-input [nzSize]="'large'" formControlName="userName" [nzPlaceHolder]="'张三'" [nzId]="'userName'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('required')">输入姓名</div>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label nz-form-item-required>性别</label>
      </div>
      <div class="w250" nz-form-control nzHasFeedback [nzValidateStatus]="getFormControl('userSex')">
        <nz-select formControlName="userSex" [nzSize]="'large'">
          <nz-option [nzLabel]="'男'" [nzValue]="'男'"></nz-option>
          <nz-option [nzLabel]="'女'" [nzValue]="'女'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('userSex').dirty&&getFormControl('userSex').hasError('required')">请选择您的性别</div>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="userBirthday" nz-form-item-required>出生年月</label>
      </div>
      <div class="w250" nz-form-control nzHasFeedback [nzValidateStatus]="getFormControl('userBirthday')">
        <nz-datepicker formControlName="userBirthday" [nzPlaceHolder]="'选择职位过期时间'" [nzDisabledDate]="_disabledDate"></nz-datepicker>
        <div nz-form-explain *ngIf="getFormControl('userBirthday').dirty&&getFormControl('userBirthday').hasError('required')">请选择出生日期</div>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="userIdcard" nz-form-item-required>身份证号码 </label>
      </div>
      <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('userIdcard')">
        <nz-input [nzSize]="'large'" formControlName="userIdcard" [nzPlaceHolder]="'天投人资'" [nzId]="'userIdcard'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('userIdcard').dirty&&getFormControl('userIdcard').hasError('required')">请输入身份证号码</div>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="maxDegree" nz-form-item-required>最高学历</label>
      </div>
      <div class="w250" nz-form-control nzHasFeedback [nzValidateStatus]="getFormControl('maxDegree')">
        <nz-select formControlName="maxDegree" [nzSize]="'large'">
          <nz-option [nzLabel]="'高中、中专'" [nzValue]="'高中及以下'"></nz-option>
          <nz-option [nzLabel]="'大专'" [nzValue]="'大专'"></nz-option>
          <nz-option [nzLabel]="'本科'" [nzValue]="'28岁以上'"></nz-option>
          <nz-option [nzLabel]="'硕士'" [nzValue]="'30岁以上'"></nz-option>
          <nz-option [nzLabel]="'博士'" [nzValue]="'40岁以上'"></nz-option>
          <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('maxDegree').dirty&&getFormControl('maxDegree').hasError('required')">请选择最低学历</div>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label nz-form-item-required>工作经验</label>
      </div>
      <div class="w250" nz-form-control nzHasFeedback [nzValidateStatus]="getFormControl('workExp')">
        <nz-select formControlName="workExp" [nzSize]="'large'">
          <nz-option [nzLabel]="'无要求'" [nzValue]="'无要求'"></nz-option>
          <nz-option [nzLabel]="'1年以下'" [nzValue]="'1年以下'"></nz-option>
          <nz-option [nzLabel]="'1-3年'" [nzValue]="'1-3年'"></nz-option>
          <nz-option [nzLabel]="'3-5年'" [nzValue]="'3-5年'"></nz-option>
          <nz-option [nzLabel]="'5-8年'" [nzValue]="'5-8年'"></nz-option>
          <nz-option [nzLabel]="'8年以上'" [nzValue]="'8年以上'"></nz-option>
          <nz-option [nzLabel]="'详见职位描述'" [nzValue]="'详见职位描述'"></nz-option>
        </nz-select>
        <div nz-form-explain *ngIf="getFormControl('workExp').dirty&&getFormControl('workExp').hasError('required')">单位行业</div>
      </div>
    </div>

    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="phoneNumber" nz-form-item-required>手机号码</label>
      </div>
      <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('phoneNumber')">
        <nz-input [nzSize]="'large'" formControlName="phoneNumber" [nzPlaceHolder]="'02880518071或者13333333333'" [nzId]="'phoneNumber'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('phoneNumber').dirty&&getFormControl('phoneNumber').hasError('required')">输入手机号码</div>
      </div>
    </div>

    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label nz-form-item-required>招聘邮箱</label>
      </div>
      <div class="w250" nz-form-control [nzValidateStatus]="getFormControl('userEmail')" nzHasFeedback>
        <nz-input formControlName="userEmail" [nzPlaceHolder]="'请输入电子邮箱'" [nzType]="'userEmail'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('userEmail').dirty&&getFormControl('userEmail').hasError('required')">请正确输入电子邮箱</div>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="liveAddress" nz-form-item-required>现居住地</label>
      </div>
      <div nz-form-control class="w250" nzHasFeedback [nzValidateStatus]="getFormControl('liveAddress')">
        <nz-input [nzSize]="'large'" formControlName="liveAddress" [nzPlaceHolder]="'四川省成都市天府新区天府大道南段2018号'" [nzId]="'liveAddress'"></nz-input>
        <div nz-form-explain *ngIf="getFormControl('liveAddress').dirty&&getFormControl('liveAddress').hasError('required')">请输入您的居住地址</div>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
          <label nz-form-item-required>婚姻状况</label>
        </div>
        <div class="w250" nz-form-control>
          <nz-select formControlName="maritalStatus" [nzSize]="'large'">
            <nz-option [nzLabel]="'已婚'" [nzValue]="'已婚'"></nz-option>
            <nz-option [nzLabel]="'未婚'" [nzValue]="'未婚'"></nz-option>
          </nz-select>
        </div>
    </div>

    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="detailedAddress">详细住址</label>
      </div>
      <div nz-form-control class="w250">
        <nz-input [nzSize]="'large'" formControlName="detailedAddress" [nzPlaceHolder]="'四川省成都市天府新区天府大道南段2018号'" [nzId]="'detailedAddress'"></nz-input>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="houseAddress">户籍所在地</label>
      </div>
      <div nz-form-control class="w250">
        <nz-input [nzSize]="'large'" formControlName="houseAddress" [nzPlaceHolder]="'四川省成都市天府新区天府大道南段2018号'" [nzId]="'houseAddress'"></nz-input>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="linkPhone">固定电话 </label>
      </div>
      <div nz-form-control class="w250">
        <nz-input [nzSize]="'large'" formControlName="linkPhone" [nzId]="'linkPhone'"></nz-input>
      </div>
    </div>
    <div nz-form-item class="row">
      <div nz-form-label class="w100">
        <label for="website">个人主页/博客</label>
      </div>
      <div nz-form-control class="w250">
        <nz-input [nzSize]="'large'" formControlName="website" [nzPlaceHolder]="'http://www.cdtfhr.com'" [nzId]="'website'"></nz-input>
      </div>
    </div>

    <div nz-form-item style="margin-bottom:8px;text-align:center;">
        <button nz-button [nzSize]="'large'" [nzType]="'primary'">保存个人信息</button>
    </div>
  </form>
</div>