.ant-layout-header{padding:0;height:40px; line-height: 40px; background: #1975b8; color: #fff;}
.ant-layout-content, nz-content>div{
    min-height: 500px;
    height: auto!important;
    height: 500px;
    background: #fff;
}
.row{
    width:1200px;
    margin: 0 auto;
    padding: 0;
}

.ant-layout-header a{ color: #fff;}
/* 上部内容区域 */
.company-admin-logo{ height: 100%; overflow: hidden;}
.company-admin-logo a img.admin-logo{width: 100px;height: 40px;border: 0;}
.company-admin-logo a img{ height: 100%;margin-top: 10px;}

/* 左侧菜单样式 */
.list-title{ width: 240px; height: 30px;line-height: 30px;background: #3085be;}
.list-title> h3{ color:#fff;text-indent: 15px;font-size: 16px;}
.handle-list a{ font-size: 14px;}
.handle-list li:nth-last-child(1){
    border-bottom: 1px solid #e1e1e1;
}
.subMenu-title{font-size: 16px!important;}
.handleActive a{ color: #3085be;}

.company-view{ padding-top: 30px;}
