
<nz-layout>
  <nz-header>
    <app-top></app-top>
  </nz-header>
  <nz-content>
    <div class="row">
        <div nz-row>
            <div nz-col [nzSpan]="24" style="height: 100px;background:#fff;border-bottom:1px solid #f1f1f1;">
              <div class="fl company-admin-logo"><a [routerLink]="['/user_index']">
                  <img src="/assets/lib/images/company-admin-logo.png" alt="">
              </a></div>
            </div>
            <div nz-col [nzSpan]="6">
                <div class="list-title"><h3>快捷操作</h3></div>
                <ul nz-menu [nzMode]="'inline'" class="handle-list" style="width: 240px;">
                    <li nz-submenu>
                      <span title class="subMenu-title">单位资料</span>
                      <ul>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./com-home']">管理首页</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./com-info']">单位基本资料</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./com-logo']">单位LOGO</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./com-map']">单位地图</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./com-pwd']">密码管理</a></li>
                      </ul>
                    </li>
                    <li nz-submenu>
                      <span title class="subMenu-title"> 招聘管理</span>
                      <ul>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./com-jobadd']">发布新职位</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./recruit']">招聘中的职位</a></li>
                        <!-- <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">待审核职位</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">未通过职位</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">过期职位</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">已暂停职位</a></li> -->
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['jobFair']">招聘会</a></li>
                      </ul>
                    </li>
                    <li nz-submenu>
                      <span title class="subMenu-title"> 人才管理</span>
                      <ul>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./seekers']">搜索人才</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['./resumeManage']">简历管理</a></li>
                        <!-- <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">已下载的简历</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">已通知面试</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">被浏览的职位</a></li>
                        <li routerLinkActive="handleActive" nz-menu-item><a [routerLink]="['']">我浏览的简历</a></li> -->
                      </ul>
                    </li>
                  </ul>
            </div>
            <div nz-col [nzSpan]="18" class="company-view">
                <router-outlet></router-outlet>
            </div>
          </div>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">
      <app-footer></app-footer>
  </nz-footer>
</nz-layout>