<ul class=nav>
    <li><a href="http://localhost:4200/administrator/dash"> <i class="fa fa-flask"></i> <span>控制台</span> </a></li>
    <li><a href=javascript:;> <i class="fa fa-toggle-on"></i> <span>企业</span> </a>
      <ul class=sub-menu>
        <li><a href=ui-buttons.html> <span>Buttons</span> </a></li>
        <li><a href=ui-general.html> <span>General</span> </a></li>
        <li><a href=ui-tabs-accordion.html> <span>Tabs &amp; Accordions</span> </a></li>
        <li><a href=ui-progressbars.html> <span>Progress Bars</span> </a></li>
        <li><a href=ui-pagination.html> <span>Pagination</span> </a></li>
        <li><a href=ui-sliders.html> <span>Sliders</span> </a></li>
        <li><a href=ui-portlets.html> <span>Portlets</span> </a></li>
        <li><a href=ui-notifications.html> <span>Notifications</span> </a></li>
        <li><a href=ui-alert.html> <span>Alerts</span> </a></li>
        <li><a href=javascript:;> <i class=toggle-accordion></i> <span>Icons</span> </a>
          <ul class=sub-menu>
            <li><a href=ui-fontawesome.html> <span>Fontawesome</span> </a></li>
            <li><a href=ui-feather.html> <span>Feather</span> </a></li>
            <li><a href=ui-climacon.html> <span>Climacon</span> </a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href=javascript:;> <i class="fa fa-tint"></i> <span>个人</span> </a>
      <ul class=sub-menu>
        <li><a href=form-basic.html> <span>Basic Forms</span> </a></li>
        <li><a href=form-advanced.html> <span>Advanced Components</span> </a></li>
        <li><a href=form-wizard.html> <span>Wizard</span> </a></li>
        <li><a href=form-editors.html> <span>Editors</span> </a></li>
        <li><a href=form-validation.html> <span>Validation</span> </a></li>
        <li><a href=form-masks.html> <span>Input Masks</span> </a></li>
      </ul>
    </li>
    <li class="">
      <a href=javascript:;>
          <i class="fa fa-tag"></i> <span>新闻</span>
      </a>
      <ul class=sub-menu>
        <li class="">
          <a [routerLink]="['./article_categories']">
              <span>类别管理</span>
          </a>
        </li>
        <li class="">
          <a [routerLink]="['./article']">
              <span>新闻管理</span>
          </a>
        </li>
      </ul>
    </li>
    <li class=""><a href=javascript:;> <i class="fa fa-pie-chart"></i> <span>系统设置</span> </a>
      <ul class=sub-menu>
        <li class="">
          <a href="http://localhost:4200/administrator/admin_setting_industry"> <span>行业类别</span> </a>
        </li>
        <li class="">
          <a href="http://localhost:4200/administrator/admin_setting_area"> <span>城市类别</span> </a>
        </li>
        <li class="">
          <a href="http://localhost:4200/administrator/admin_setting_job"> <span>职位类别</span> </a>
        </li>
        <li class="">
          <a href="http://localhost:4200/administrator/admin_setting_member"> <span>会员类别</span> </a>
        </li>
      </ul>
    </li>
    <li class="">
      <a href=javascript:;><i class="fa fa-tint"></i> <span>管理员</span> </a>
      <ul class=sub-menu>
        <li class="">
          <a href="http://localhost:4200/administrator/admin_user"> <span>用户列表</span> </a>
        </li>
        <li class="">
          <a href="http://localhost:4200/administrator/admin_user_role"> <span>用户组</span> </a>
        </li>
        <li class="">
          <a href="http://localhost:4200/administrator/admin_user_permission"> <span>权限</span> </a>
        </li>
      </ul>
    </li>
  </ul>