<div class=panel>
  <div class="panel-heading border">
    <ol class="breadcrumb mb0 no-padding">
      <li><a href=javascript:;>控制台</a></li>
      <li><a href=javascript:;>系统设置</a></li>
      <li class=active>会员类别</li>
    </ol>
  </div>
  <div class=panel-body>
    <table class="table table-bordered bordered table-striped table-condensed datatable">
      <thead>
        <tr>
          <th>类别名称</th>
          <th>操作</th>
        </tr>
      </thead>
      <tr>
        <td>性别</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_sex">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>婚姻状况</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_marriage">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>教育程度</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_education">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>工作经验</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_experience">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>薪水待遇</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_salary">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>工作性质</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_job_nature">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>求职状态</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_job_status">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>到岗时间</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_arrival">管理类别</a>
        </td>
      </tr>

      <tr>
        <td>企业性质</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_com_status">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>企业规模</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_com_scale">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>招聘人数</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_job_number">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>语言要求</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_lang">管理类别</a>
        </td>
      </tr>
      <tr>
        <td>福利待遇</td>
        <td>
          <a href="http://localhost/ssj/public/index.php/admin/admin_setting_member_welfare">管理类别</a>
        </td>
      </tr>
    </table>
  </div>
</div>