<div class="bl-box">
  <div class="bl-box-title">
    <h3>职位分类 <a class="fr">更多>></a></h3>
  </div>
  <ul class="am-list am-list-static am-list-border">
    <li class="jobs_menu" *ngFor="let jobs of jobsList;let i=index;" (mouseover)="jobListShow()">
      <div class="jobs-class">
        <span class="am-fl">{{jobs.jobClass}}</span>
        <span class="fr am-icon-angle-right">&gt;</span>
      </div>
      <div class="jobs-list">
        <div class="jobs-list-title">{{jobs.jobClass}}</div>
        <ul class="jobs-list-content">
          <li *ngFor="let job of jobs.jobList"><a href="#">{{job}}</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>