a{text-decoration: none;}
.nav-list{height: 64px;}
.nav-list>li {width: 100px;height: 100%;text-align: center; float: left;margin-right: 10px; position: relative;left: 0;top: 0;}
.nav-list>li>a{
    font-size: 16px; color: #fff;
    align-items: center;
}
/* 导航图标 */
.nav-icon{ 
    display: block;
    width: 30px;height:30px;
    margin: 4px auto 0; 
    overflow: hidden;
    background-image: url('/assets/lib/images/nav-icon.png');
}
.nav-t{display: block; width: 100%;line-height: 30px;}

.nav-icon1{background-position-x:  -2px; background-position-y: 2px;}
.nav-icon2{background-position-x:  -45px; background-position-y: 2px;}
.nav-icon3{background-position-x:  -86px; background-position-y: 2px;}
.nav-icon4{background-position-x:  -123px; background-position-y: 2px;}
.nav-icon5{background-position-x:  -162px; background-position-y: 2px;}
.nav-icon6{background-position-x:  -208px; background-position-y: 2px;}
.nav-icon7{background-position-x:  -250px; background-position-y: 2px;}


.nav-list>li:hover {background: #ccc;}
.nav-list>li:hover  a{color: #3c81bc;}
.nav-list>li:hover span.nav-icon{background-position-y: -40px;}

.childMenu{ display: none; position: absolute;left: 0; top: 64px;z-index: 100;}
.nav-list li:hover .childMenu{display: block;}
.childMenu li{ width: 100px; padding-left: 20px;border-bottom: 1px dashed #f1f1f1;background: #456dab;}
.childMenu li:last-child{ border-bottom: 0;}
.childMenu li a{font-size: 14px;color:#fff;}


/* 选中当前路由的样式 */
/*********
主导航样式类名:am-active
**********/
.am-active a, .am-active {background: #fff!important; color: #3c81bc!important;}
.am-active a .nav-icon{ background-position-y: -40px; }


.ant-menu-horizontal,.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
    border-bottom: 1px solid #456dab;
}
/* .ant-menu-submenu-title>span{color:#000;} */